<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<section>
<style>
    body {
        background-image: url('/images/voting.png');
        background-position: center; /* Adjust as needed */
        background-repeat: no-repeat; /* Adjust as needed */
    }
    h1 {
        text-align: center;
    }
</style>
</section>
<body>
<section>
    <body>
        <H1 > Welcome to The Voting System!</H1>
    </body>
</section>
</body>
</html>